<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мероприятия</title>
</head>
<body>
    <nav class="d-inline-flex mt-1 mt-md-0 ms-md-auto">
    <a class="py-2 link-body-emphasis text-decoration-none" href="/">Главная страница</a>
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/about">Мероприятия</a>
    <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/contact">Документы</a>
    
</body>
</html>